/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


html, body{
  font-family: "Poppins", sans-serif;
}
.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pt-100{
  padding-top: 100px;
}
.pb-100{
  padding-bottom: 100px;
}
.main-banner .m-title{
  font-weight: 800;
  line-height: 97px;
  font-size: 100px;
  color: #000000;
}
.btn-m-btn{
  background: #9bff00;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 56px;
  border-radius: 40px;
  border: 2px solid #ffffff;
}
.btn-m-btn:hover{
  border: 2px solid #000;
  color: #000000;
  background: #ffffff;
}
.main-banner .m-2-title{
  font-weight: 600;
  font-size: 30px;
  display: flex;
  color: rgba(0, 0, 0, 0.42);
  span{
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
    align-self: center;
    display: block;
    border-radius: 10px;
    min-width: 6px;
    background: rgba(0, 0, 0, 0.42);
  }
}
.sec-skills {
  background: #000000;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}
.s-title-w{
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
}
.s-title{
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.sec-skills h3{
  color: rgba(255, 255, 255, 0.44);
}
.skill-pill{
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  background: rgba(255, 255, 255, 0.06);
  padding: 20px 40px;
  border-radius: 30px;
  overflow: hidden;
  img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    object-fit: contain;
  }
  p{
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    align-self: center;
  }
}
.p-title{
  font-weight: 600;
  font-size: 50px;
  color: #707070;
}
.port-images{
  height: 300px;
  max-width: 40%;
  object-fit: contain;
  margin: 20px;
}
.port-thumb{
  img{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 5px 8px 4px rgba(0, 0, 0, 0.07);
  }

}
.project-title{
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #707070;
  font-size: 35px;
}
.sec-works img{
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.graphic-works{
  background-color: #252525;
}
